.App {
  width: 400px;
  display: flex;
  flex-direction: column;
  background: #fff;
  margin-top: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0px #000;
}
.App > h2 {
  font-size: 1.5rem;
  margin: 0rem 0 1rem 0;
}
.container {
  padding: 2rem;
}
.App > img {
  height: 180px;
}
.App .container > form .group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.App .container > form .group > label {
  margin-bottom: 0.4rem;
  color: rgb(55, 124, 55);
}
.App .container > form .group > input {
  padding: 0.725rem 0.4rem;
  font-size: 14px;
  border: 1px solid rgb(172, 170, 170);
  outline: none;
  border-radius: 5px;
}
.App .container > form .group > input::placeholder {
  color: lightgray;
  font-size: 14px;
}
.errorMessage {
  color: red;
  font-size: 13px;
  margin-top: 0.3rem;
}
.btn {
  padding: 0.5rem 3rem;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  background: #000;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  transition: all 0.3s ease;
}
.btn:hover {
  background: orangered;
}
